* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(208, 224, 224);
}

.logo img {
    width: 55%;
    margin: 25px 25px 20px 25px;
}

.content {
    margin: 7%;
    background-color: white;
    border-radius: 20px;
    height: 75vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid #b3b3b3;
    height: 100%;
    box-sizing: border-box;
}

.logo,
.upper,
.middle,
.lower {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-bottom: 10%;
}

i {
    padding: 10px;
}

a {
    color: #3f3e3e;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.intro {
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.intro-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
}

.input {
    height: 60%;
    margin-left: 8%;
    margin-right: 5%;
    padding-left: 2rem;
    width: 50%;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    box-sizing: border-box;
}

.input::placeholder {
    color: #777;
}

.userinfo {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 20%;
    border-radius: 20px;
    padding: 1%;
    box-sizing: border-box;
}

.username {
    margin-left: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.income,
.expense {
    margin-top: 10%
}

.row p {
    margin-top: 10%
}

.wallet,
.monthlygraph {
    margin: 5% 0;
    padding: 8%;
    border: 1px solid #b3b3b3;
    width: 75%;
    border-radius: 20px;
    box-sizing: border-box;
}

.box {
    display: none;
}

.left {
    width: 35%;
}

#dash {
    margin-bottom: 4%;
}

#wallet {
    margin-left: 1%;
}

.monthlygraph {
    height: 90%;
}

.activity {
    margin: 1.5% 0;
    padding: 3%;
    border: 1px solid #b3b3b3;
    border-radius: 35px;
    height: fit-content;
    width: 60%;
    box-sizing: border-box;
}

.userinfo {
    border: 1px solid #b3b3b3;
}

button {
    background-color: #40baea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3%;
}

.table-container {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    background-color: #ffffff;
    float: right;
    border-radius: 5px;
}

table {
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    border-collapse: collapse;
    font-size: 10px;
    width: 100%;
    text-transform: uppercase;
}

td,
th {
    font-size: small;
    border-bottom: 0.5px solid #ddd;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

th {
    color: #999;
    font-size: medium;
    font-weight: 300;
}

.equal-space {
    height: 10%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.Modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modalInputs {
    display: none;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.modalInputs label,
input {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.modalInputs input {
    border: solid .5px rgb(205, 203, 203);
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.close-btn {
    color: red;
    font-size: 10px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: fit-content;
}

label{
    padding:10px 0;
}